body    {
    background-color: rgb(189, 192, 184);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h1      {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    }
    footer  {
        color: gray;
    }
    body    {

        h2  {
            color: magenta;
    }

 h3  {color: blueviolet;}

    
h4  {color: darkorchid;}

 li{color: rgba(4, 78, 43, 0.555);}


    color: rgb(10, 23, 138);
}      

 
    

