body    {
    background-color: rgb(171, 204, 223);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h1      {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    }
    footer  {
        color: gray;
    }
    body    {
        color: rgb(5, 163, 103);
    }

    h2  {
            color: magenta;
    }

    h3  {color: blueviolet;}

    li{color: rgb(103, 160, 19);}
    